@import "../../app.scss";
@import "../../variables.scss";

.services {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include mobile768 {
        justify-content: flex-start;
    }

    &-container {
        width: 100%;
        height: 100%;
    }

    .textContainer {
        flex: .2;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px;

        @include mobile768 {
            flex: 0.1;
        }


        p {
            font-weight: 200;
            font-size: 20px;
            color: $white-text-color;
            text-align: right;
            font-family: $font-comfortaa;
            font-weight: 500;

            @include mobile768 {
                font-size: 17px;
            }

            @include mobile430 {
                font-size: 18px;
            }

            @include mobile375 {
                font-size: 15px;
            }
        }
        hr {
            width: 200px;
            border: none;
            margin-top: 10px;
            border-top: 2px solid $white-color;


            @include mobile768 {
                width: 90px;
            }
            @include mobile430 {
                width: 40px;
            }
        }
    }
    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop1280 {
            justify-content: center;
            flex: 1;
            padding: 20px;
        }

        @include mobile768 {
            flex: 0.2;
            width: 100%;
        }

        @include mobile430 {
            padding: 10px;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 50px;
            font-family: $font-lobster;

            @include laptop1280 {
                gap: 20px;
            }


            @include mobile768 {
                text-align: center;
                flex-direction: column;
                gap: 20px;
            }

            @include mobile430 {
                gap: 5px;
                flex-direction: row;
            }

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile576 {
                    width: 200px;
                    height: 50px;
                }
                @include mobile430 {
                    width: 150px;
                    height: 50px;
                }
            }

            h2 {
                font-size: 96px;
                line-height: 120%;
                font-family: $font-lobster;
                color: $white-text-color;

                @include laptop1280 {
                    font-size: 75px;
                }

                @include mobile768 {
                    font-size: 36px;
                }

                @include mobile430 {
                    font-size: 30px;
                }

                b {
                    font-family: $font-lobster;
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: $bg-white-color;
                border: none;
                font-size: 24px;
                font-family: $font-comfortaa;
                font-weight: 700;
                cursor: pointer;
                color: $black-text-color;
                text-shadow: -1px 1px 3px $black-text-color;

                @include laptop1280 {
                    width: 200px;
                }

                @include tablet992 {
                    font-size: 20px;
                    width: 160px;
                    height: 80px;
                }

                @include mobile768 {
                    font-size: 16px;
                    width: 150px;
                    height: 50px;
                }

                @include mobile430 {
                    display: none;
                }
            }
        }

    }
    .listContainer {
        flex: .8;
        display: flex;
        max-width: 1366px;
        margin: auto;
        gap: 10px;
        padding: 10px;

        @include laptop1280 {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include tablet992 {
            flex: 1;
        }

        @include mobile375 {
            padding: 5px;
        }

        .box {
            flex: 1;
            padding: 15px;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            position: relative;
            border-radius: 5px;
            box-shadow: 5px 5px 10px #a76f76,
                        -5px -5px 10px #d29199;

            /* &:hover, :active {
                transition: 0.5 ease-in-out;
                background-color: white;
            } */
            @include tablet992 {
                height: 200px;
            }

            @include mobile768 {
                height: auto;
                gap: 20px;
                align-items: flex-start;
            }

            @include mobile375 {
                padding: 5px;
            }

            @include mobile576 {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: auto;
                border-radius:15px;
            }


            &-title {
                color: $white-text-color;
                font-family: $font-comfortaa;
                font-weight: 400;
                font-size: 30px;
                text-shadow: -1px 1px 3px $black-text-color;
                @include mobile576 {
                    flex: 1;
                    font-size: 22px;
                }
                @include mobile576 {
                    font-size: 18px;
                }
            }

            &-icon {
                max-width: 50px;
                max-width: 50px;
                filter: invert(100%);

                @include mobile375 {
                    max-height: 40px;
                }
            }

            &-text {
                color: $black-text-color;
                @include mobile768 {
                    display: none;
                }
            }

            &-btn-container {
                display: flex;
                justify-content: space-between;
                align-items:center;
                flex-direction: column;
                width: 100%;
                @include mobile576 {
                    flex-direction: row;
                    gap: 10px;
                    justify-content: flex-end;
                    align-items:flex-end;
                }
            }


            button {
                cursor: pointer;
                border: none;
                outline: none;
                background-color: $pink-main-text-color;
                padding: 10px 20px;
                font-size: 20px;
                font-weight: 700;
                color: #ffffff;
                border: 1px solid white;
                border-radius: 5px;
                transition: all ease 0.1s;
                box-shadow: 0px 5px 0px 0px #f4f4f4;
                width: 100%;
                

                    @include mobile576 {
                        width: 125px;
                        padding: 10px 5px;
                        font-size: 18px;
                    }
                    @include mobile430 {
                        font-size: 15px;
                    }
                    @include mobile375 {
                        width: 100px;
                        height: 100%;
                        font-size: 12px;
                    }
                }
                
                button:active {
                    transform: translateY(5px);
                    box-shadow: 0px 0px 0px 0px #fafafa, (98%, 80%);
                }
        }
    }
}

