@import "../../app.scss";
@import "../../variables.scss";

.services {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            align-items: center;
            text-align: center;
            flex-direction: column;
            flex: 0.5;
        }

        p {
            font-weight: 200;
            font-size: 20px;
            color: white;
            text-align: right;
        }
        hr {
            width: 200px;
            border: none;
            border-top: 0.5px solid $text-color;

            @include mobile {
                width: 300px;
            }
        }
    }
    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            flex: 1;
            width: 100%;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile {
                text-align: center;
                flex-direction: column;
                gap: 20px;
            }

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    width: 200px;
                    height: 50px;
                }
            }

            h1 {
                font-size: 96px;
                font-weight: 100;

                @include mobile {
                    font-size: 36px;
                }
            }

            button {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: $button-color;
                border: none;
                font-size: 24px;
                cursor: pointer;

                @include mobile {
                    font-size: 16px;
                    width: 150px;
                    height: 50px;
                }
            }
        }

    }
    .listContainer {
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;
        gap: 10px;
        padding: 10px;

        @include mobile {
            width: 100%;
            flex-direction: column;
        }

        .box {
            padding: 25px;
            border: 0.5px solid $text-color;
            color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                border: none;
                padding: 10px;
                align-items: center;
                gap: 20px;
            }

            p {
                @include mobile {
                    display: none;
                }
            }

            button {
                padding: 10px;
                background-color: #e2a3ab;
                border: none;
                cursor: pointer;
                border-radius: 5px;

                :hover, :active {
                    background-color: #e2a3ab;
                }

                @include mobile {
                    background-color: transparent;
                    border: 1px solid $button-color;
                    border-radius: 5px;
                    color: $button-color;
                    width: 50%;
                    padding: 5px;
                }
            }
        }
    }
}

