@import "./variables.scss";

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ruslan Display', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;
}

body {
    background: $pink-main-text-color;
    color: rgb(4, 4, 4);
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}

@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1366px) {
        @content;
    }
}

