@import "./variables.scss";

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Lobster', sans-serif;
    font-family: 'Tektur', sans-serif;
}

body {
    background: $pink-main-text-color;
}

a {
    text-decoration: none;
    color: inherit;
}
/* .container {
    width: 1220px;
    margin: 0 auto;
    @media (max-width: 1240px) {
        width: 970px;
    }
    @media (max-width: 992px) {
        width: 720px;
    }
    @media (max-width: 767px) {
        width: 540px;
    }
    @media (max-width: 576px) {
        width: 100%;
        padding: 0 15px;
    }
  } */

    /* 
    @include desktop {
    }
    @include laptop1280 {
    }
    @include tablet1024 {
    }
    @include tablet992 {
    }
    @include mobile768 {
    }
    @include mobile576 {
    }
    @include mobile375 {
    }
    @include mobile320 {
    }
    */
    @mixin mobile320 {
        @media (max-width: 320px) {
            @content;
        }
    }
    
    @mixin mobile375 {
        @media (max-width: 375px) {
            @content;
        }
    }

    @mixin mobile430 {
        @media (max-width: 430px) {
            @content;
        }
    }
    
    @mixin mobile576 {
        @media (max-width: 576px) {
            @content;
        }
    }
    
    @mixin mobile768 {
        @media (max-width: 768px) {
            @content;
        }
    }
    
    @mixin tablet992 {
        @media (max-width: 992px) {
            @content;
        }
    }
    
    @mixin tablet1024 {
        @media (max-width: 1024px) {
            @content;
        }
    }
    
    @mixin laptop1280 {
        @media (max-width: 1280px) {
            @content;
        }
    }

    @mixin desktop {
        @media (max-width: 1366px) {
            @content;
        }
    }
    

article {
    height: 100vh;
    scroll-snap-align:start ;
    overflow: hidden;
    margin-top: 0;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    bottom: 0;

    @include mobile768 {
        min-height: 100vh;
    }
}

.loading {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
}




