//Colors

$bg-white-color: white;
$white-color: #ffffff;
$white-text-color: #ffffff;
$white-button-color: #fafafa;

$bg-black-color: #0c0909;
$black-color: #000000;
$black-text-color: #000000;
$black-button-color: #000000;

$bg-grey-color: grey;
$grey-color: grey;
$grey-text-color: grey;
$grey-button-color: grey;

$pink-main-text-color:  #e2a3ab;
$bg-pink-color: #e2a3ab;
$pink-color: #e2a3ab;
$pink-text-color: #e2a3ab;
$pink-button-color: #e2a3ab;


//Fonts

$font-lobster: 'Lobster', sans-serif;
$font-comfortaa: 'Comfortaa', sans-serif;
$font-tektur: 'Tektur', sans-serif;
$font-ysabeau: 'Ysabeau SC', sans-serif;
$font-Alumni: 'Alumni Sans', sans-serif;