.addCertificateForm {
    max-width: 1366px;
    min-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h6 {
        font-size: 30px;
        
    }
    form > input {
        min-width: 100%;
        display: flex;
        padding: 20px;
        margin: 10px 0 20px;
        border-radius: 5px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__inputFile {
        min-width: 100%;
        display: flex;
        padding: 0;
        margin: 10px 0 20px;
        border-radius: 5px;
    }
    
    .btn {
        height: 50px;
        color: white;
        margin: 5px;
        border-radius: 5px;
        padding: 5px 20px;
    }

    &-delete {
        background-color: red;
    }
    .btn-add {
        background-color: green;
    }

    &-send {
        background-color: rgb(221, 6, 185) ;
    }
}