@import "../../variables.scss";
@import "../../app.scss";

.service{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 80px;
    max-width: 1366px;
    box-sizing: border-box;
    margin: auto;/* 
    height: calc(100vh - 80px); */
    @include laptop1280 {
        padding: 20px 20px;
    }

    @include mobile576 {
        padding: 10px 10px;/* 
        height: calc(100vh - 30px); */
    }
    
    &-container{
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* @include laptop1280 {
            padding: 40px 40px;
        }

        @include mobile768 {
            padding: 10px 15px;
        } */
    }
    &-title {
        font-size: 30px;
        padding: 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-comfortaa;
        font-weight: 700;
        color: $white-text-color;

        @include mobile768 {
            text-align: center;
        }

        @include mobile430 {
            padding: 35px;
        }
    }

    &-icon {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        max-height: 150px;
        padding: 10px;
        filter: invert(100%);
    }
    ul {
        margin-top: 10px;
    }
    ol {
        font-family: $font-comfortaa;
        font-weight: 300;
        margin-top: 20px;
        background: white;
        border-radius: 25px;
        padding: 50px;
        @include mobile576 {
            padding: 10px 5px 10px 25px;
        }

        @include mobile375 {
            margin-top: 15px;
            font-size: 25px;
        }
        ol, li {
            margin-top: 10px;
            border-radius: 10px;
            text-decoration:none;
            font-size: 22px;
            font-weight: 300;
            font-family: $font-comfortaa;
            /* &:not(:last-child){
                border-bottom: none;
            } */
        }
        span {
            font-size: 30px;
            font-weight: 500;
            font-family: $font-comfortaa;

            @include mobile576 {
                font-size: 28px;
            }
        }
    }
    &-text {
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        font-family: $font-comfortaa;
        font-weight: 100;
        color: $bg-white-color;
        font-size: 22px;

        @include mobile375 {
            font-size: 22px;
        }
    }
    &-price {
        color: $black-text-color;
        font-size: 22px;
        list-style: none;
        align-items: flex-start;
        text-decoration: none;
        margin-left: 30px;
        font-family: $font-comfortaa;
        font-weight: 300;
        
        &-title {
            font-size: 22px;
            font-family: $font-comfortaa;
            font-weight: 300;
            margin-top: 15px;
        }
    }
    &-btn_close {
        position: fixed;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        padding: 20px;
        font-size: 50px;
        border: none;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: $black-text-color;

        @include laptop1280 {
            font-size: 38px;
            top: 34px ;
            right: 34px;
        }

        @include mobile768 {
            font-size: 35px;
            top: 5px ;
            right: 10px;
        }

        @include mobile576 {
    
        }

        /* @include mobile375 {
            top: 0px;
            right: 0px;
            font-size: 20px;
            border: none;
            background-color: transparent;
        } */
    }
}

