@import "../../app.scss";
@import "../../variables.scss";

.accordion {
    padding: 100px;
    height: 100%;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    &-header {
        font-size: 24px;
        span {
            color: red;
            padding: 20px;
        }
    }
    &-item {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 800px;
        height: 300px;
    }
    &-title {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: #f7b3bc;
        font-size: 18px;
    }
    &-btn {
        font-size: 20px;
        background-color: transparent;
        border: none;
    }
    &-content {
        padding: 10px;
        background-color: #f8c3ca;
        overflow: auto;
        width: 100%;
    }

}