@import "../../variables.scss";
@import "../../app.scss";

.popup{
    background-color: $bg-white-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.079);
    overflow-y:auto;
    max-height: 800px;
    max-width: 1200px;
    position: relative;
    box-sizing: border-box;
    
    @include mobile375 {
        padding: 10px 10px;
        height: 600px;
    }
    
    &-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.177);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        padding: 50px 200px;
        @include mobile375 {
            padding: 20px 20px;
        }
    }
    &-title {
        font-size: 30px;
        padding: 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-comfortaa;
        font-weight: 700;
    }
    ul, ol {
        margin-top: 10px;
    }
    ol {
        margin-left: 50px;
        margin-top: 20px;
        font-family: $font-comfortaa;
        font-weight: 300;
        font-size: 28px;

        @include mobile375 {
            margin-left: 30px;
            margin-top: 15px;
        }
        li {
            margin-top: 10px;
            border-radius: 10px;
            text-decoration:none;
            font-size: 22px;
            font-weight: 300;
            font-family: $font-Alumni;
            /* &:not(:last-child){
                border-bottom: none;
            } */
        }
        span {
            font-size: 30px;
            font-weight: 500;
            font-family: $font-Alumni;
        }
    }
    &-text {
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        font-family: $font-Alumni;
        font-weight: 300;
        font-size: 24px;

    }
    &-price {
        color: $black-text-color;
        font-size: 22px;
        list-style: none;
        align-items: flex-start;
        text-decoration: none;
        margin-left: 30px;
        font-family: $font-comfortaa;
        font-weight: 300;
        
        &-title {
            font-size: 22px;
            font-family: $font-comfortaa;
            font-weight: 300;
            margin-top: 15px;
        }
    }
    &-btn_close {
        position: fixed;
        top: 100px;
        right: 100px;
        border-radius: 5px;
        padding: 20px;
        font-size: 50px;
        border: none;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: $black-text-color;

        @include mobile375 {
            top: 0px;
            right: 0px;
            font-size: 20px;
            border: none;
            background-color: transparent;
        }
    }
}

//blocking scroll if popup is open
body.popup-open {
    overflow: hidden;
}
.scroll-button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .7s ease-in-out;
    background: none;
    font-size: 40px;
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 1000;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    @include mobile375 {
        right: 5%;
        font-size: 28px;
    }
}