@import "../../variables.scss";

.popup{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.079);
    overflow-y:auto;
    height: 800px;
    width: 1200px;
    position: relative;
    box-sizing: border-box;
    
    &-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.177);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        padding: 200px;
    }
    &-textContainer {
    }
    &-title {
        font-size: 30px;
        padding: 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ol {
        margin-left: 100px;
        margin-top: 40px;
        li {
            padding: 10px;/* 
            border: 1px solid black; */
            border-radius: 10px;
            text-decoration: underline;
            /* &:not(:last-child){
                border-bottom: none;
            } */
        }
        span {
            font-size: 20px;
        }
    }
    &-text {
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    &-price {
        color: black;
        font-size: 18px;
        list-style: none;
        align-items: flex-start;
        text-decoration: none;
        margin-left: 20px;
        &-title {
            font-size: 22px;
        }
        span {
            text-transform: lowercase;
        }
    }
    &-btn_close {
        position: fixed;
        top: 100px;
        right: 100px;
        border-radius: 5px;
        width: 100px;
        height: 50px;
        font-size: 20px;
        border: 1px solid $pink-main-text-color;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: rgb(13, 12, 12);
    }
}

//blocking scroll if popup is open
body.popup-open {
    overflow: hidden;
}