@import "../../variables.scss";

.popup{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    height: 800px;
    h2 {
        font-size: 30px;
        top: 0;
        margin-top: 20px;
        padding: 20px ;
    }
    &-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    &-price {
        color: red;
        font-size: 18px;
        align-items: start;
    }
}

//blocking scroll if popup is open
body.popup-open {
    overflow: hidden;
}