.updateForm {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: min-content;
    padding: 10px 0;
    .delete {
        background-color: red;
    }
    .add {
        background-color: green;
    }

    .send {
        background-color: rgb(12, 12, 12) ;
        
    }
    .container {
        max-width: 1366px;
        min-width: 70%;
        padding: 10px;
    }
    h6 {
        font-size: 30px;
        
    }
    input, textarea {
        width: 100%;
        display: flex;
        padding: 20px;
        margin: 20px 0;
        
        border-radius: 5px;
    }
    
    .btn {
        text-align: center;
        height: 50px;
        color: white;
        margin: 5px;
        border-radius: 5px;
        padding: auto 20px;
    }

    /* 
    a {
        margin-top: 50px;
        padding: 10px 20px;
        background-color: transparent;
        border-radius: 5px;
        font-size: 22px;
        border: 1px solid black;
        &:hover {
            background-color: #040404;
            color: rgb(250, 250, 250);
            border: 1px solid rgb(255, 255, 255);
            transition: .15s ease-in;
        }
    } */
}

