.certificate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    margin: 10px 20px;
    border-radius: 5px;
    padding: 10px ;
    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        h5 {
            font-size: 20px;
        }
        span {
            font-size: 18px;
        }
        img {
            width:300px;
            border-radius: 5px;
        }
    }
    &__btns {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: space-between;
        flex-direction: column;
    }

}
