@import "../../app.scss";
@import "../../variables.scss";

.about {
    margin: auto;
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile768 {
        padding: 0px 20px;
    }
    
    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: grid;
        place-items: center;
        grid-gap: 50px;
        grid-template-areas:
            " title title img img img img"
            " slider slider text text text text"
            " slider slider text text text text";
        
        @include mobile768 {
            grid-template-areas:
            " img  img"
            " title title "
            
            "text text"
            " slider slider";

        }
    }
    &-imgContainer {
        grid-area: img;
        max-width:100%;
        max-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        ::after {
            position: absolute;
            z-index: -1;
            content: '';
            width: 1900px;
            height: 1900px;
            left:  0;
            bottom: 0;
            background: radial-gradient(circle, rgba(226,163,171,1) 2%, rgba(251,251,251,1) 6%, rgba(226,163,171,0.7637255585828081) 18%, rgba(251,251,251,0.5284314409357493) 26%, rgba(226,163,171,1) 37%);
        }
        
        img {
            margin-top: 0;
            object-fit: cover;
            object-position: center 35%;
            width: 500px;
            height: 300px;
            filter: grayscale(15%);
            border-radius: 200px 150px 200px 150px;
            

            @include mobile768 {
                max-width: 100%;
                max-height: 200px;
                border-radius: 20px 50px 100px 150px;
            }
        }
    }


    &-title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        grid-area: title;
        color:$white-text-color;
        position: relative;
        font-family: $font-lobster;
        font-weight: 400;
        font-size: 75px;
        line-height: 68px;

        @include mobile768 {
            font-size: 29px;
            line-height: 38px;
            max-width: 100%;
            margin-bottom: 0;
        }
    }

    &-text {
        grid-area: text;
        font-size: 28px;
        color: $white-text-color;
        font-family: $font-comfortaa;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-wrap: balance;

        @include mobile768 {
            font-size: 18px;
        }
    }

    .slider {
        grid-area: slider;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-text-color !important;
        position: relative;
        

        /* @include mobile {
            display: none;
        } */
    }
}