.about {
    height: 100%;
    padding: 50px 100px;
    display: grid;
    grid-gap: 20px;/* 
    background: linear-gradient(0deg, rgba(6,6,6,0.8421569311318278) 0%, rgba(6,6,6,0.8169468470982143) 11%, rgba(6,6,6,0.5648460067620799) 18%, rgba(226,163,171,0.5480392840730042) 52%, rgba(6,6,6,0.5788516090029762) 64%, rgba(6,6,6,0.7385154745491946) 78%, rgba(6,6,6,0.9177871832326681) 89%); */
    grid-template-areas:
        " title img "
        " slider text ";
        

    &-imgContainer {
        grid-area: img;
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
            margin-top: 0;
            object-fit: cover;
            object-position: center 35%;
            width: 100%;
            height: 100%;
            border-radius: 10px ;
        }
    }


    &-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-area: title;
        font-size: 55px;
        text-align: cen;
        font-weight: bolder;
        color: white;
    }

    &-text {
        grid-area: text;
        font-size: 28px;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .slider {
        grid-area: slider;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white !important;

    }
}