@import "../../app.scss";
@import "../../variables.scss";

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    /* @include mobile576 {
        overflow-y: auto;
    } 
    @include mobile375 {
        height: auto;
    }*/
    
    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: grid;
        place-items: center;
        grid-template-rows: auto;
        padding: 20px;
        grid-template-areas:
            " title title img img img img"
            " slider slider text text text text"
            " slider slider text text text text";

        @include laptop1280 {
            grid-template-areas:
            " title    img img"
            " slider    text text"
            " slider    text text";

        }

        @include mobile768 {
            padding: 25px 25px;
            grid-template-areas:
            " img img "
            " title  title "
            "text  text slider slider ";
        }
        
        @include mobile576 {
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
            " img  img"
            " title title "
            "text text"
            " slider slider";
        }

        @include mobile375 {
            margin: 0;
            padding: 10px 5px ;
        }
    }
    &-imgContainer {
        grid-area: img;
        max-width:100%;
        max-height: 100%;
        min-width:100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-top: 0;
            object-fit: cover;
            object-position: center 35%;
            max-width:100%;
            max-height: 300px;
            min-width:100%;
            min-height: auto;
            filter: grayscale(15%);
            border-radius: 200px 150px 200px 150px;
            box-shadow: 10px 1px 86px 21px  rgba(255,255,255,0.52);
            
            /* @include laptop1280 {
                max-width: 450px;
            } */
    
            @include tablet1024 {
                width: 320px;
                height: 220px;
            }

            @include mobile768 {
                max-height: 200px;
                border-radius: 200px 25px 100px 200px;
            }

            @include mobile576 {
                max-width: 100%;
                max-height: 120px;
                margin-right: 0;
                margin-top: 0;
            }
        }
    }


    &-title {
        display: flex;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-end;
        grid-area: title;
        color:$white-text-color;
        position: relative;
        font-family: $font-lobster;
        font-weight: 400;
        font-size: 65px;
        line-height: 58px;

        @include laptop1280 {
            font-size: 60px;
        }

        @include tablet992 {
            font-size: 55px;
            line-height: 57px;
        }

        @include mobile768 {
            font-size: 35px;
            line-height: 50px;
            max-width: 100%;
            margin-bottom: 0;
            line-height: 40px;
        }

        @include mobile576 {
            font-size: 25px;
            line-height: 30px;
        }
    }

    &-text {
        grid-area: text;
        font-size: 28px;
        color: $white-text-color;
        font-family: $font-comfortaa;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-wrap: balance;
        position: relative;

        @include laptop1280 {
            font-size: 24px;
        }

        @include tablet992 {
            font-size: 22px;
        }

        @include mobile768 {
            font-size: 18px;
        }

        @include mobile576 {
            font-size: 16px;
        }

        &::after {
            position: absolute;
            z-index: -1;
            content: '';
            width: 900px;
            height: 900px;
            top:  -200px;
            right: 0;   
            
        }
    }

    .slider {
        grid-area: slider;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        /* @include tablet1024 {
            margin-top: -100px;
        } 

        

        @include mobile768 {
            margin-top: 0px;
        } */
    }
}