@import "../../app.scss";
@import "../../variables.scss";

.form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    padding: 50px 0;

    input, textarea {
        width: 100%;
        padding: 20px;
        background-color: $bg-white-color;
        border: 1px solid $black-color;
        color: $black-text-color;
        border-radius: 5px;
        resize: none;
        font-family: $font-tektur;
        font-size: 18px;
        @include mobile375 {
            padding: 15px;
            
        }
    }
}



.input-wrapper {
    position: relative;
    padding-bottom: 25px;
}

.input.error {
    border: 1px solid red;
    position: relative;
    outline: red solid 3px;
    
    font-family: $font-tektur;
}

.error-message {
    font-size: 16px;
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    color: rgb(255, 0, 0);
    left: 20px;
    font-family: $font-comfortaa;

    @include tablet1024 {
        font-size: 15px;
    }

    @include mobile768 {
        font-size: 14px;
    }
}

button {
    padding: 20px;
    border: none;
    background-color: $bg-white-color;
    cursor: pointer;
    font-weight: 100;
    border-radius: 5px;
    font-family: $font-comfortaa;
    color: $black-text-color;
    font-size: 22px;

    @include mobile768 {
        padding: 10px;
    }
}