$bg-main-color: #fff;
$pink-main-text-color:  #e2a3ab;
$header-text-color: #090101;
$sidebar-bg-color: #fff;
$progress-bar-color: #292226;
$sidebar-text-color: black;
$bg-linear-gradient-color: linear-gradient(180deg, #e2a3ab, #0d0d11);
$text-color: #0c0909;
$button-color: #e2a3ab;
$hero-button-border-text-form-color: rgb(0, 0, 0);