$bg-main-color: #ffffff;
$pink-main-text-color:  #e2a3ab;
$header-text-color: #090101;
$sidebar-bg-color: #fff;
$progress-bar-color: #292226;
$sidebar-text-color: black;
$bg-linear-gradient-color:linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(226,163,171,1) 100%, rgba(255,255,255,0.9401961468181023) 100%);
$text-color: #0c0909;
$button-color: #fcfafb;
$hero-button-border-text-form-color: rgb(0, 0, 0);