$bg-main-color: #f9edf5;
$pink-main-text-color:  #9a7280;
$header-text-color: #272727;
$sidebar-bg-color: #fff;
$progress-bar-color: #a53472;
$sidebar-text-color: black;
$bg-linear-gradient-color: linear-gradient(180deg, #443240, #efeff0);
$text-color: #211c1c;
$button-color: rgb(0, 0, 0);
$hero-button-border-text-form-color: rgb(0, 0, 0);