@import "../../app.scss";
@import "../../variables.scss";

.navbar {
    height: 100px;
    z-index: -1;

    @include mobile576 {
        height: 30px;
    }
    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        
        & ul > li {
            list-style-type:none;
        }

        @include mobile768{
            justify-content: flex-end;
            padding: 20px;
        }

        span {
            font-weight: bold;

            @include mobile768{
                display: none;
            }
        }
        .social {
            display: flex;
            gap: 20px;
            margin-right: 20px;
            background: rgba(0, 0, 0, 0);
            
            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}