@import "../../app.scss";
@import "../../variables.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(226,163,171,1) 70%);

    @include mobile768 {
        background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(226,163,171,1) 100%, rgba(255,255,255,0.9401961468181023) 100%);
    }

    @include mobile576 {
        height: calc(100vh - 30px);
    }


    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        position: relative;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 40px;
            position: relative;
            z-index: 10;
            left: 0;
            top: 0;
            padding-left: 20px;

            @include tablet1024 {
                width: 100%;
                gap: 20px;
                justify-content: flex-start;
                align-items: flex-start;
                text-align: left;
                padding-left: 20px;
            }

            @include mobile576 {
                gap: 10px;
                margin-top: 50px;
            }


            @include mobile375 {
                gap: 10px;
            }

            h2 {
                font-size: 45px;
                color: $white-text-color;
                letter-spacing: 1px;
                font-family: $font-lobster;
                text-align: left;

                @include mobile768 {
                    font-size: 45px;
                }
                
                @include mobile576 {
                    font-size: 28px;
                }

                @include mobile375 {
                    font-size: 20px;
                }
            }

            h1 {
                font-size: 80px;
                color: $white-text-color;
                font-family: $font-comfortaa;
                font-weight: 500;
                text-align: left;
                width: 50%;

                @include tablet992 {
                    font-size: 82px;
                }
                
                @include mobile768 {
                    font-size: 48px;
                }
                
                @include mobile576 {
                    font-size: 32px;
                    width: 100%;
                }

                @include mobile375 {
                    font-size: 38px;
                    width: 100%;
                }
                @include mobile375 {
                    font-size: 30px;
                    width: 100%;
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                align-items:center;
                gap: 20px;
                z-index: 2;

                @include mobile576 {
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    gap: 30px;
                    align-items: flex-start;
                }
                a {
                    background-color: transparent;
                    border: 1px solid transparent;
                    padding: 10px 15px;
                    border-radius: 10px;
                    color: $black-text-color;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 300;
                    font-family: $font-comfortaa;
                    background-color: $bg-white-color;
                    color: $black-text-color;
                    opacity: 0.8;
                    
                    &:hover, :active {
                        background-color: $bg-black-color;
                        filter: opacity(0.8);
                        color: $white-text-color;
                        border: 1px solid $white-color;
                    }

                    @include mobile320 {
                        padding: 5px;
                        font-size: 10px;
                    }
                    
                    @include mobile375 {
                        padding: 10px;
                        font-size: 10px;
                    }
                }

            }

            .scrollButton {
                position: relative;
                cursor: pointer;
                z-index: 2;
            }

            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 100px;

        @include tablet1024 {
            height:95%;
            width: 100%;
            top: unset;
            left: 280px;
            bottom: 0;
            z-index: 0;
        }
        @include tablet992 {
            height:85%;
            left: 70px;
        }

        @include mobile768 {
            height: 78%;
            width: 100%;
            left: 150px;
            bottom: 0;
        }

        @include mobile576 {
            height: 68%;
            width: 100%;
            left: 0;
            bottom: 0;
        }

        @include mobile430 {
            height: 65%;
            left: 20px;
        }

        @include mobile375 {
            height: 60%;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: grayscale(15%);

            @include mobile576 {
                filter: drop-shadow(-26px 75px 50px);
            }
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 35vh;
        bottom: -120px;
        white-space: nowrap;
        color: $pink-text-color;
        text-transform: lowercase;
        opacity: 0.7;
        width: 50%;
        font-weight: 300;
        font-family: $font-Alumni;
        z-index: 0;

        @include mobile768 {
            bottom: 0;
        }
    }
}