@import "../../app.scss";
@import "../../variables.scss";

.carousel-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.carousel-slideCard {
    flex: 5 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 400px;
    z-index: 9;

    @include mobile768 {
        min-height: 350px;
    }

    @include mobile576 {
        min-height: 250px;
    }

    @include mobile430 {
        min-height: 220px;
    }

    .slide {
        opacity: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @include mobile768 {
            justify-content: center;
            height: auto;
        }

        &.active {
            opacity: 1;
        }

        &-textContainer {
            width: 100%;
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            margin-left: 0;
            
            @include mobile768 {
                font-size: 20px;
            }

            @include mobile576 {
                justify-content: center;
                align-items: center;
            }

            @include mobile320 {
                font-size: 14px;
            }
            
            & h6 {
                font-size: 30px;
                color: #f7f7f7;
                text-align: left;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 300;
                font-family: $font-Alumni;
                margin-top: 0;

                @include mobile768 {
                    font-size: 22px;
                }

            }
        
            & span {
                font-size: 27px;
                line-height: 36px;
                box-sizing: border-box;
                font-weight: 100;
                font-family: $font-Alumni;
                font-weight: 100;
                margin-top: 0;

                @include mobile768 {
                    font-size: 24px;
                }
            }
        }

        &-imgContainer {
            flex: 5;
            display: flex;
            justify-content: center;
            align-items: center;/* 
            max-width: 450px;
            min-width: 320px;
            height: 100%;
            margin-top: 0; */


            & img {
                width: 75%;
                object-fit: contain;
                border-radius: 10px;
                padding:  0;
                
                @include laptop1280 {
                    width: 90%;
                }
    
                @include mobile768 {
                    max-height: 185px ;
                    max-width: 300px;
                }

                @include mobile320 {
                    max-height: 120px ;
                    max-width: 250px;
                }
            }
            @include mobile768 {
                flex: 1;
            }
        }
    
    }
}

.prev-button,
.next-button {
    flex: 1 0 20px;
    padding: 0;
    font-size: 50px;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    z-index: 10;
    
    @include mobile768 {
        font-size: 30px;
        padding: 0;
    }
}

/* .next-button {
    margin-right: 0;
    padding-left: 20px;

    @include tablet992 {
        padding-left: 10px;
    }

    @include mobile768 {
        margin: 0;
    }
}

.prev-button {
    margin-left: 0;
    padding-left: 20px;

    @include tablet992 {
        padding-left: 10px;
    }

    @include mobile768 {
        margin: 0;
    }
} */